<!DOCTYPE html>
<html lang='es'>
  <head>
	<title>TRABAJO AII - ANIMAME - {% block titulo %}{% endblock %}</title>
	<meta charset='utf-8'>
  </head>
  <body>
  	<header>
  	{% block encabezado %}{% endblock %}
  		<nav>
  			<ul>
  				<li><a href='/'>Inicio</a></li>
  				{% block conectado %}{% endblock %}
  				<li><a href='/listBancos'>Mostrar sucursales por Bancos</a></li>
  				<li><a href='/creaCuenta'>Crea Cuenta</a></li>
  				<li><a href='/creaSucursal'>Crea Sucursal</a></li>
  				<li><a href='/creaMovimiento'>Crea Movimiento</a></li>
  				<li><a href='/creaTipoMovimiento'>Crea Tipo Movimiento</a></li>
  				<li><a href='/creaBanco'>Crea Banco</a></li>
  			
  			</ul>
  		</nav>
  	</header>
  	<section>
  	{% block contenido %}{% endblock %}
  	</section>
  </body>
</html>