<html>
	<head>
	<title>Animame</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Finger+Paint|Raleway" rel="stylesheet">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	
	</head>
	<body>
		<div class="row">
		
		{% include 'header.html' %}
		<div class="col-sm-10 content">
		{% block encabezado %}{% endblock %}
		
		{% block contenido %}{% endblock %}
		</div>
	</body>
</html>