{% extends 'inicio.html' %}


{% block encabezado %}
	<h2 id="tituloAnimes">{{titulo}}</h2>
{% endblock %}

{% block contenido %}
	{% if rs %}
		<div style="width:100%; display:inline-block" >
		<div style="display:inline-block ">
		<p>Generos favoritos: |
			{% for g in usuario.topgeneros.all %}
				<a href="/listagenres/{{g}}">{{g}}</a> |
			{% endfor %}
		</p>
		<p>Estudios favoritos: |
			{% for e in usuario.topestudios.all %}
				<a href="/listastudios/{{e}}">{{e}}</a> |
			{% endfor %}
		</p>
		</div>
		<img src="{{usuario.image}}" style=" margin: 0 15% 2% 15% ; display:inline-block; border-radius: 4px"/>
		</div>
		
		<a href="/cargarNuevo/{{usuario.usuario}}">Recargar informacion</a>(Esta accion llevara un tiempo)
	{% endif %}
	
		{% for dato in animes %}
		<div id="fondo" style="margin-bottom: 30px; padding-bottom: 25px;">
			<img src="{{dato.imagen}}" style=" margin-right: 20px;     vertical-align:top; display:inline-block; border-radius: 4px;"/>
			<div style="width:70%; display:inline-block;">
			<h3>{{dato.titulo}}</h3>
			<p id="cosas">{{dato.sinopsis}}</p>
			<p>Original: <span id="cosas">{{dato.original}}</span></p>
			<p>Lanzamiento: <span id="cosas">{{dato.lanzamiento}}</span></p>
			<p>Tipo: <span id="cosas"><a href="/listatypes/{{dato.tipo}}">{{dato.tipo}}</a></span></p>
			<p>Estudios: <span id="cosas"> |
				{% for e in dato.estudios.all %}
					<a href="/listastudios/{{e}}">{{e}}</a> |
				{% endfor %}</span>
			</p>
			<p>Generos: <span id="cosas"> |
				{% for g in dato.generos.all %}
					<a href="/listagenres/{{g}}">{{g}}</a> |
				{% endfor %}</span>
			</p>
			<p>Ranking: <span id="cosas">{{dato.popularidad}}</span></p>
			</div>
		</div>
		{% empty %}
			<li>No hay Animes.</li>
		{% endfor %}
{% endblock %}


<!--titulo = models.CharF ield(max_length=100, null=False, blank=False)
    original = models.CharField(max_length=100, null=True, blank=True)
    sinopsis = models.CharField(max_length=500, null=False, blank=True)
    lanzamiento = models.CharField(max_length=500, null=False, blank=True)
    tipo = models.ManyToManyField(Tipo)
    estudio = models.CharField(max_length=100, null=False, blank=False)
    generos = models.ManyToManyField(Genero)
    popularidad = models.IntegerField(null=False)
    clasificacionedad -->
	