{% extends 'inicio.html' %}


{% block encabezado %}
	<h2 id="tituloAnimesPopulares">{{titulo}}</h2>
{% endblock %}

{% block contenido %}
	{% if rs %}
		<p>Generos favoritos: |
			{% for g in usuario.topgeneros.all %}
				<a href="/listagenres/{{g}}">{{g}}</a> |
			{% endfor %}
		</p>
		<p>Estudios favoritos: |
			{% for e in usuario.topestudios.all %}
				<a href="/listastudios/{{e}}">{{e}}</a> |
			{% endfor %}
		</p>
	{% endif %}
	
		{% for dato in animes %}
		<div id="fondo">
			<h3>{{dato.titulo}}</h3>
			<caption>Original: <span id="cosas">{{dato.original}}</span></caption>
			<p>{{dato.sinopsis}}</p>
			<p>Lanzamiento: <span id="cosas">{{dato.lanzamiento}}</span></p>
			<p>Tipo: <span id="cosas">{{dato.tipo}}</span></p>
			<p>Estudios: <span id="cosas"> |
				{% for e in dato.estudios.all %}
					<a href="/listastudios/{{e}}">{{e}}</a> |
				{% endfor %}</span>
			</p>
			<p>Generos: <span id="cosas"> |
				{% for g in dato.generos.all %}
					<a href="/listagenres/{{g}}">{{g}}</a> |
				{% endfor %}</span>
			</p>
			<p>Ranking: <span id="cosas">{{dato.popularidad}}</span></p>
			<hr>
		</div>
		{% empty %}
			<li>No hay Animes.</li>
		{% endfor %}
{% endblock %}


<!--titulo = models.CharF ield(max_length=100, null=False, blank=False)
    original = models.CharField(max_length=100, null=True, blank=True)
    sinopsis = models.CharField(max_length=500, null=False, blank=True)
    lanzamiento = models.CharField(max_length=500, null=False, blank=True)
    tipo = models.ManyToManyField(Tipo)
    estudio = models.CharField(max_length=100, null=False, blank=False)
    generos = models.ManyToManyField(Genero)
    popularidad = models.IntegerField(null=False)
    clasificacionedad -->
	